/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #003366;
    color: #fff;
    overflow: hidden;
}

/* Container de Carregamento */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fff, #003366);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Logo */
.logo-central .img-logo {
    width: 220px;
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

/* Barra de Carregamento */
.loading-bar {
    position: relative;
    width: 50%;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.loading-bar .progress {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #00aaff, #003366);
    animation: loadBar 3s ease-in-out forwards;
}

.loading-text {
    margin-top: 15px;
    font-size: 16px;
    color: black;
    animation: blink 1.5s infinite; /* Aplica a animação de piscar */
}

/* Animação para piscar */
@keyframes blink {
    0%, 100% { opacity: 1; } /* Totalmente visível */
    50% { opacity: 0; }      /* Invisível */
}


/* Modal */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
}

.modal-content {
    background: linear-gradient(to bottom, white, #003366);
    color: black;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease;
    width: 300px;
}

.modal-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.modal-input {
    width: 100%;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.modal-button:hover {
    background-color: #00aaff;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

/* Animações */
@keyframes loadBar {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
