html {
    font-family: 'Roboto', sans-serif;
}

.cr-background-primary {
    background-color: #BC9D32;
}

.cr-background-secondary {
    background-color: #005A92;
}

.cr-frame-primary-bottom {
    width: 100%;
    height: 10px;
    margin-top: -136px;
}

.cr-frame-secondary-bottom {
    width: 100%;
    height: 155px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 6px;
}

.card1 {
    display: flex;
    justify-content: space-between;
    width: 450px; /* Largura total dos cartões */
    margin: auto;
    align-items: stretch; /* Garante que ambos os cartões tenham a mesma altura */
}

.cr-card {
    width: 216px;
    HEIGHT: 335PX;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.cr-card-image-logo {
    max-width: 184px;
    max-height: 30px;
    min-width: 100px;
    max-height: 75px;
    margin-bottom: 0px;
}

.cr-card-image-logo2 {
    max-width: 177px;
    max-height: 30px;
    min-width: 100px;
    max-height: 39px;
    margin-bottom: -13px;
}

.cr-card-image {
    max-width: 100px;
    max-height: 100px;
    min-width: 140px;
    min-height: 154px;
}

.cr-name-person {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cr-name-person2 {
    font-size: 11px; /* Reduz o tamanho da fonte */
    margin-top: 10px;
    color: black;
    white-space: nowrap; /* Impede a quebra de linha */
}


.cr-name-profession {
    font-size: 15px;
    margin-top: 10px;
}

.cr-site-company,
.cr-data-company,
.cr-cargo,
.cr-id {
    font-size: 11px;
    color: black;
    margin-top: 10px;
}

.cr-absolute {
    position: absolute;
    top: 0px;
}

.square {
    border: solid 2px;
    width: 100px; /* Defina a largura desejada */
    height: 100px; /* Defina a altura desejada */
    border-radius: 10px; /* Ajuste o valor do raio para controlar o quanto as bordas são arredondadas */
}

.sdt {
    margin-top: 35px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.1;
    align-items: center;
}

.btn {
    color: black;
    background-color: #A0A0A0;
    font-weight: bolder;
}

.btn:hover {
    background-color: #005A92;
}



.container {
    width: 100%;
    display: flex;
}

.row {
    width: 150%;
}

.row {
    width: 150%;
}

.row1 input,
.row1 label {
    display: none;
}


.page-footer {
    margin-top: 100px;
}
